*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  margin: auto;
}

.wrapper {
  width: 90vw;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  max-width: 300px;

  display: grid;

  background: linear-gradient(180deg, #aeaeae, #f1f1f1);
  border-radius: 1rem;
  box-shadow: 0 1px 5px #afafaf;
}

.user_bar {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
}

.user_bar > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;

  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  fill: #ffffff;
}

.user {
  display: flex;
  flex-flow: column nowrap;
}

.icons {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
}

svg {
  height: 24px;
  width: auto;
}

p {
  padding: 0 0.5rem 1.5rem 0.5rem;
  font-size: 0.75rem;
}

.date {
  color: #ffffff;
  font-size: 0.75rem;
}

.caption {
  font-weight: 800;
  font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 375px) {
    .wrapper {
      justify-content: center;
    }
  }